.env*
tmp/*
*.pyc
*.pyo
*.out
*.del
*.test
tryme.py
__pycache__

# from init.sh
pynoser-admin
pynoser-sh
pynoser-cron-sh
pynoser-errreset
pynoser-randupd
docker.compose.up
docker.compose.down

!tmp/get-remote
